.formContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.field {
  background-color: #20222b;
  border-color: #eee;
  border-width: 2px;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  color: #f5f5f5;
  font-size: 1.4rem;
  margin-bottom: 50px;
  margin-top: 10px;
  padding-left: 5px;
  transition-duration: 1s;
  display: flex;
}

label {
  font-size: 1.4rem;
  color: #f5f5f5;
}

.validationError {
  color: red;
}

button {
  padding: 10px 15px;
  background-color: #eee;

  border-color: #20222b;
  border-width: 2px;
  border-radius: 10px;
}
