.formContainer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  background-color: #030303;
  border-color: #eee;
  border-width: 2px;
  border-radius: 10px;
  width: 500px;
  height: 60px;
  color: #f5f5f5;
  font-size: 1.4rem;
  margin-bottom: 50px;
  margin-top: 10px;
  padding-left: 5px;
  transition-duration: 1s;
  display: flex;
}

label {
  font-size: 2rem;
  color: #f5f5f5;
}

.validationError {
  color: red;
  font-size: 1.4rem;
}

button {
  padding: 10px 15px;
  margin: 30px;
  margin-top: -15px;
  width: 200px;
  background-color: #eee;
  border-color: #20222b;
  border-width: 3px;
  border-radius: 10px;
  transition-duration: 0.5s;
  font-size: 1.4rem;
}

button:hover {
  background-color: #eeeeee8f;
}

button:disabled {
  background-color: grey;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
